body {
    font-family: Arial, sans-serif;
    background-color: #fff2c3;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #fff2c3;
    padding: 10px;
}

.opcoes {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}

.logo {
    width: 300px;
}

ul {
    font-size: 26px;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.opcoes a {
    text-decoration: none;
    color: inherit;
    border: #7a1010 solid 2px;
    padding: 20px 30px;
    border-radius: 15px;
}
.opcoes a:hover {
    background-color: #7a1010;
    color: #fff2c3;
    transition: 0.3s;
}

.welcome {
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(135deg, #ff7b00, #ffb347);
    color: white;
}

.welcome h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.welcome p {
    font-size: 18px;
    margin-bottom: 30px;
}

.banner-img {
    width: 78%;
    max-width: 90%;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    animation: girarPiscar 3s infinite linear;
}

/* pausa a animação ao passar o mouse
.banner-img:hover {
    animation: none;
    transform: rotate(0deg);
    opacity: 1;
}

@keyframes girarPiscar {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
} */

.sessao-lanches {
    text-align: center;
    margin: 50px 0;

}

.lanche-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.lanche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: auto;
    border: #7a1010 solid 2px;
    border-radius: 15px;
    padding: 15px;
    align-items: center;
    box-shadow: #7a1010 2px 2px 5px;

}

.lanche img {
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.lanche p,
h3 {
    color: #7a1010;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}

.btn-comprar {
    background-color: #7a1010;
    color: #fff2c3;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contatos {
    text-align: center;
    padding: 20px;
    background-color: #7a1010;
    color: #fff2c3;
    font-size: 14px;
}

.inicio-pagina {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #671c1c;
    color: #fff2c3;
    border: none;
    padding: 35px 35px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 25px;
}

.inicio-pagina:hover {
    background-color: #df1414;
}

.inicio-pagina p {
    margin: 0;
    font-size: 24px;
}

.lanche-detalhes {
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(135deg, #ff7b00, #ffb347);
    color: white;
}

.alert.alert-success {
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(135deg, #28a745, #218838);
    color: white;
    font-size: 18px;
    border-radius: 10px;
    margin: 20px auto;
}

.img-propaganda {
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    margin: 40px auto;
    display: block;
}