body {
    font-family: Arial, sans-serif;
    background-color: #fff2c3;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #fff2c3;
    padding: 10px;
}

.opcoes {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 180px;
}

ul {
    font-size: 26px;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

.welcome {
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    background-color: #7a1010;
}

.welcome h1,
p {
    color: #fff2c3;
    padding: 20px;
}

.banner-img {
    width: 100%;
    height: auto;
}

.sessao-lanches {
    text-align: center;
    margin: 50px 0;
}

.lanche-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.lanche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: auto;
    border: #7a1010 solid 2px;
    border-radius: 15px;
    padding: 15px;
    align-items: center;
    box-shadow: #7a1010 2px 2px 5px;

}

.lanche img {
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.lanche p,
h3 {
    color: #7a1010;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.btn-comprar {
    background-color: #7a1010;
    color: #fff2c3;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contatos {
    text-align: center;
    padding: 20px;
    background-color: #7a1010;
    color: #fff2c3;
    font-size: 14px;
}